!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Julia Colavita
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    style= css
  body
    #container
      header
        h1
          a(href='./') Julia Colavita
        nav.clearfix
          a.portfolio.selected(href='#!/portfolio') Portfolio
          a(href='bio.pdf')
            | BIO
            span.pdf [PDF]
          a(href='cv.pdf')
            | CV
            span.pdf [PDF]
          a(href='mailto:juliacolavita@gmail.com') juliacolavita@gmail.com
      #main(role='main')
        #portfolio
          #portfolio_nav_container
            nav.clearfix
              for collection, name in collections
                a(href='collection')
                  h2= name
          for collection, name in collections
            #portfolio_page_container.clearfix
              .portfolio_page
                ul.artworks.clearfix
                  for artwork in collection
                    li.landscape
                      img(src=artwork.images[0].image_url.replace(':version', 'large'), data-large_src=artwork.images[0].image_url.replace(':version', 'larger'))
                      .caption
                        = artwork.title
                        | , 
                        = artwork.date
                        br
                        = artwork.medium
                        br
                        = artwork.dimensions[artwork.metric]
          #lightbox
            .img_container
              img(src='large_img')
              .caption
            button#close_lightbox X
      footer
    
    #scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
      script!= js